.container {
    display: flex;
  }
  
  .item {
    height: 190px;
  }

  .green {
    flex-grow: 1;
    background-color: #51d400;
  }

  .yellow {
    flex-grow: 2;
    background-color: #ffd62a;
  }

  .purple {
    flex-grow: 1;
    background-color: #b02aff;  
}

@media (max-width: 400px) {
    .container {
        display: block;
    }
}