* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    background-color: #ffd62a;
    height: 300px;
    width: 100%;
}

.item {
    list-style: none;
    position: relative;
    top: 100px;
    height: 100px;
    width: 100px;
    background-color: #b02aff;
}