table, th, td {
  border-collapse: collapse;
  border: solid 1px black;
  padding: 5px;
}

th {
  background-color: grey;
}

.move {
  background-color: lightgray;
}

.toPlanetToShip {
  background-color: lightgreen;
}

a {
  padding: 2px;
}