* {
    margin: 0;
    padding: 0;
}
    
.container {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    width: 75%;
    height: 600px;
    background-color: #4c5350;
    justify-content: center;
}

.button {
    align-self: center;
    height: 130px;
    width: 130px;
    color: #4c5350;
    font-size: 25px;
}

.orange {
    position: absolute;
    align-self: center;
    transform: rotate(45deg);
    height: 130px;
    width: 130px;
    background-color: rgba(0, 0, 0, 0);
    border: solid 3px orangered;
}

.orange:hover {
    transform: rotate(90deg);
    transition: 2s ease;
}

.button:hover {
    color: orangered;
    transition: 2s ease;
}