p, p + div {
    color: blue;
}

#b325, #b325 + div {
    width: 263px;
    height: 21px;
    border: solid 1px green;
}

div {
    font-weight: bold;
}

p {
    width: 263px;
    height: 21px;
    background: yellow;
}