ol, li, ul {
    margin: 0;
    padding: 0;
} 

h1 {
    color: #FF6347;
}

h2, h3 {
    color: #8A2BE2;
}

p {
    width: 380px;
}

ul {
    padding-left: 25px;
}

ol {
    color: #FF0EFF;
    padding-left: 50px;
    text-decoration: underline;
}

ol li:nth-child(4) {
    color: black;
    text-decoration: underline black; 
}