* {
    margin: 0;
    padding: 0;
}

.grid {
    display: grid;
    grid-auto-rows: 200px;
    grid-template-columns: 1fr 60% 1fr;
    background-color: purple;
    grid-gap: 9px;
    border: solid 9px purple;
}

.grid > div {
    background-color: yellow;
}

.grid > div:nth-child(2) {
    background-color: green;
}