* {
    margin: 0;
    padding: 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 200px;
    background-color: black;
    grid-gap: 10px;
}

.one {
    background-color: purple;
    grid-column: 1/2;
    grid-row: 1;
}

.two {
    display: flex;
    background-color: green;
    grid-column: 2/4;
    grid-row: 1/3;
}

.three, .four, .five, .six {
    background-color: purple;
}

p {
    background-color: yellow;
    width: 80%;
    margin: 10%;
}