* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
}

.yellow {
    height: 300px;
    width: 100%;
    background-color: #ffd62a;
}

.purple {
    align-self: center;
    position: absolute;
    right: 44%;
    height: 120px;
    width: 120px;
    background-color: #b02aff;
}