.container {
    display: flex;
    flex-direction: column;
  }
  
  .item {
    width: 100%;
  }

  .green {
    flex-grow: 1;
    background-color: #51d400;
  }

  .yellow {
    flex-grow: 1;
    background-color: #ffd62a;
  }

  .purple {
    flex-grow: 2;
    background-color: #b02aff;
  }