.container {
    display: flex;
    flex-direction: column;
    height: 300px;
  }
  
  .item {
    width: 100%;
  }

  .green {
    height: 25%;
    order: 0;
    background-color: #51d400;
  }

  .yellow {
    height: 50%;
    order: 2;
    background-color: #ffd62a;
  }

  .purple {
    height: 25%;
    order: 1;
    background-color: #b02aff;
  }