* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}

.black {
    min-height: 700px;
    min-width: 800px;
    border-radius: 20px;
    border: 5px solid;
}

.wrapper{
    margin: 10%;
    height: 80%;
    width: 80%;
    background-color: yellow;
    justify-content: flex-end;
}

.green {
    position: absolute;
    display: flex;
    height: 80%;
    width: 250px;
    background-color: green;
}

.purple {
    height: 80px;
    width: 100%;
    background-color: purple;
    justify-content: space-between;
}

.cyan {
    position: absolute;
    height: 20px;
    width: 50px;
    background-color: cyan;
}