.container {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    background-color: #2f3060;
    justify-content: center;
    width: 50%;
    padding: 100px;
}

button {
    margin: 2%;
    border: none;
    height: 55px;
    width: 145px;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.65);
}

button:nth-child(1) {
    background-color: #4361a0;
    box-shadow: 0 2px #2d4983;
}

button:nth-child(1):hover {
    background-color: #5874b3;
}

button:nth-child(1):active {
    background-color: #1f396d;
}

button:nth-child(2) {
    background-color: #1aa854;
    box-shadow: 0 2px #109144;
}

button:nth-child(2):hover {
    background-color: #2dbd67;
}

button:nth-child(2):active {
    background-color:#068037;
}

button:nth-child(3) {
    background-color: #d54534;
    box-shadow: 0 2px #bf3325;
}

button:nth-child(3):hover {
    background-color: #f37568;
}

button:nth-child(3):active {
    background-color: #a42417
}