h1 {
  color: grey;
  padding-left: 40px;
}

li {
  list-style: none;
}
p:nth-child(2) {
  padding-left: 40px;
}

p {
  display: inline;
  font-weight: bold;
}

.highPrio {
  color: red;
  font-weight: bold;
}

a:first-child {
  padding-left: 40px;
}

label {
  padding-left: 40px;
}

a {
  display: inline-block;
  margin-top: 10px;
}

button {
  margin-left: 10px;
}